<div class="info">
    
    <form action="/users/create-session" method="POST">
        <div class="container">
            <h1>Sign In</h1>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email" placeholder="Email"  required>
            <label for="password"><b>Password</b></label>
            <input type="password" name="password" placeholder="Password"  required>
            <div class="clearfix">
                <button type="submit" class="signup">Sign In</button>
              </div>
        </div>
       
    </form>
    <a href="/users/auth/google" style="color: black">Google Sign</a>
    <a href="/users/forgot" style="color: black">Forgotten Password</a>
</div>
