<form action="/users/new-password" method="POST">
    <div class="container">
        <h1>Forgot Password</h1>
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" placeholder="password"  required>
        <label for="password"><b>Conform-Password</b></label>
        <input type="password" name="Conform-password" placeholder="Conform-Password"  required>
        <div class="clearfix">
            <button type="submit" class="signup">Submit</button>
          </div>
    </div>
   
</form>